{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="public-home-container">
    <header class="hero-section">
        <div class="hero-content">
            <img src="{% static 'img/FHO-image.png' %}" alt="Logo ISPI Oliveros" class="logo">
            <h1>ISPI 9246 "Fundación Hospital Oliveros"</h1>
            <h2>Sistema interno</h2>
            <p>Títulos con validez nacional. Formamos Profesionales de la Salud. Brindamos Cursos de
                Capacitación.</p>

            <a href="{% url 'login' %}" class="btn-primary btn-login">
                Acceder al Sistema de Gestión
            </a>
        </div>
    </header>
</div>
{% endblock %}