{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>{% if docente %}Editar Docente{% else %}Agregar Nuevo Docente{% endif %}</h2>
    <form method="post">
        {% csrf_token %}

        {% if materia_pk_origen %}
            <input type="hidden" name="from_materia" value="{{ materia_pk_origen }}">
        {% endif %}

        {{ form.as_p }}
        
        <div class="form-actions">
            <button type="submit" class="btn-primary">Guardar Cambios</button>

            {% if materia_pk_origen %}
                <a href="{% url 'academico:docente_list_from_materia' materia_pk=materia_pk_origen %}" class="btn-secondary">Cancelar</a>
            {% else %}
                <a href="{% url 'academico:docente_list' %}" class="btn-secondary">Cancelar</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

